.mfx-spinner {
    -fx-border-color: #F97316;
    -fx-border-width: 1px;
    -fx-background-color: #ffffff;
    -fx-color: #F97316;
}

.mfx-spinner .increment-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
}

.mfx-spinner .decrement-button {
    -fx-background-color: #FF5722;
    -fx-text-fill: #ffffff;
}
